{% extends 'base.html.twig' %}

{% block title %}Les épisodes de la saison {{ season.number }}{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light border border-1 rounded-3">
            <div class="container-fluid py-5">
                <h1 class="fw-bold">Saison {{ season.number }} de <i>{{ program.title }}</i></h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-dark" href="{{ path('program_index') }}">Programmes</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-dark"
                               href="{{ path('program_show', {'programId':program.id}) }}">{{ program.title }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Saison {{ season.number }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <blockquote>{{ season.description }}</blockquote>

        <div class="card my-5">
            <div class="card-body">
                <h3 class="card-title">Les épisodes</h3>
                {% for episode in season.episodes %}
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="card-title">
                                Épisode {{ episode.number }}
                            </div>
                            <div class="card-text">
                                {{ episode.title }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Aucun épisode</p>
                {% endfor %}
            </div>
        </div>

        <a class="btn btn-outline-dark"
           href="{{ path('program_show', {'programId': program.id}) }}">Retour
            à la liste des saisons</a>
    </div>
{% endblock %}
